<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %} {% endblock head %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-5.0.2/dist/css/bootstrap.min.css">

    <title>Focus BV</title>
  </head>

  <body style= "background-color: lightgrey" {% block bodysettings %} {% endblock %}>

{% include 'navbar.html' %}

{% block content %}


{% endblock %}


<script src="/static/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
