<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block head %} {% endblock head %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-5.0.2/dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.0.2/dist/js/bootstrap.js"></script>
    <!-- Google FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <title>Focus BV</title>
</head>

<body style="font-family: Lato, sans-serif; background-color: rgb(54, 48, 56)" {% block bodysettings %} {% endblock %}>

    {% include 'navbar.html' %}
    <style>
        .error {
            background-color: red;
            color: white;
        }
        
        .success {
            background-color: #50fa7b;
        }
    </style>
    {% if messages %}
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100 rounded-pill ">
        {% for message in messages %}
        <div class="toast rounded-pill" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">

            <div class="toast-body {% if message.tags%} {{ message.tags }} {% endif %} rounded-pill text-center">
                {{ message}}
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
            // Creates an array of toasts (it only initializes them)
            return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
        toastList.forEach(toast => toast.show()); //
    </script>
    {% endif %} {% block content %} {% endblock %}


    <script src="/static/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>