{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static '/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
 
<script type="text/javascript" src= "{% static '/DataTables/datatables.js' %}"></script>

<script src="{% static '/js/moment.min.js' %}"></script>
<script src="{% static '/js/datetime-moment.js' %}"></script>
<br>
<div class="bg-white">
    <table id="table_db" class="table align-middle bg-white" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Fecha    </th>
                <th scope="col">Tipo de alarma</th>
                <th scope="col">Hora</th>
                <th scope="col">Receptor</th>
                <th scope="col"> # </th>
            </tr>
        </thead>
        <tbody>
        {% for all in arr %}
        <tr>
            <td scope="col">{{all.date | date:"d/m/Y"}}</td>
            <td scope="col"><a class="page-link" href="{{all.getClass}}/{{all.getUrl}}">{{all.getClass}}</a></td>
            <td scope="col">{{all.hora}}</td>
            <td scope="col">{{all.receptor}}</td>
            <td scope="col"><input type="button" onclick="window.location.href='{{all.getClass}}/{{all.getUrl}}';" value="Inspeccionar"></td>
        </tr>
        {% endfor %}
        </tbody>        
    </table>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment( 'DD/MM/YYYY' );
        $('#table_db').DataTable( {
            "paging": true,
            "searching": true,
            "autoWidth": false,
            "ordering": true,
            "order": [[0, "desc"]],

            "columnDefs": [
                {"width": "50px", "targets": 0},
                {"width": "250px", "targets": 1},
            ],
        }
        );
} );
</script>




{% endblock content %}