{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de alarma</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Receptor</th>
    </tr>
    </thead>
    <tbody>
        {% for all in page_obj %}
        <tr>
            <th scope="row"> {{all}} </th>
            <td>{{all.getClass}}</td>
            <td>{{all.date}}</td>
            <td>{{all.hora}}</td>
            <td>{{all.receptor}}</td>
            <!--<a href="{{ all.getUrl }}"> {{all.getClass}} </a>
            <br>-->
        <tr>
        {% endfor %}
    </tbody>
<table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}%}