{% extends 'base.html' %}


{% block content%}

<p class="text-center fw-bold fs-2 align-top ">Recepcion de Alarmas</p>

<table class="table table-sm w-25 text-center table-striped shadow table-responsive mx-4 border border-dark border-1">
  <thead>
    <tr>
      <th scope="col">Codigos</th>
      <th scope="col">Referencia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10-10</th>
      <td>Incendio Forestal</td>
    </tr>
    <tr>
      <th scope="row">10-11</th>
      <td>Incendio Baldio</td>
    </tr>
    <tr>
      <th scope="row">10-12</th>
      <td>Incendio de Quincho</td>
    </tr>
    <tr>
      <th scope="row">10-13</th>
      <td>INC (A-B-C-D)</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>A- Vivienda</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>B- Comercio</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>C- Fabrica</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>D- Distribucion</td>
    </tr>

  </tbody>
</table>

{% endblock %}


