{% extends 'base.html' %} {% block content%}



<div class="card w-75 d-flex mx-auto shadow mt-4 mb-4 rounded-3">
    <div class="card-body ">

        <p class="text-center fw-bold fs-2 align-top  ">Recepcion de Alarmas</p>

        <span>
            <div class=" col-5 ">
                <p class="h6 fs-5 mx-2" style="color: grey;"> Datos  Generales: </p>
            </div>
            <hr>
        </span>
        <div class="row g-3">
            <div class=" col-3 mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ AVf }}
                    <button type="submit">Submit</button>
                </form>

                <!-- Codigo General -->

                <div class=" input-group shadow my-2">
                    <span class="input-group-text " id="addon-wrapping">Codigo</span>
                    <input id="codigos" type="text" class="form-control" aria-describedby="addon-wrapping">
                    <button onclick="parte2()" class=" btn btn-danger ">Cargar</button>
                </div>
                <a id="demo" type="text"></a>
            </div>

            <div class="col-2 mx- ">
                <input type="text" class="form-control my-2 invisible" placeholder=" Hora" aria-label=" name">
            </div>

            <div class=" col-3 ">
                <div class=" input-group shadow my-2  ">
                    <span class="input-group-text" id="addon-wrapping">Nº Alarma</span>
                    <input type="text" class="form-control" aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="col-2 mx- ">
                <input type="text" class="form-control my-2 invisible" placeholder=" Hora" aria-label=" name">
            </div>

            <div class="col-1 mx- ">
                <input type="text" class="form-control my-2 shadow" value=" Hora" aria-label=" name" readonly>
            </div>
            <div class=" col-1">
                <div class=" input-group">
                    <h1 onkeyup="mueveReloj()"></h1>

                    <body onload="mueveReloj()">
                        <form name="form_reloj">
                            <input type="text" name="reloj" class="form-control shadow " aria-describedby="addon-wrapping" readonly>
                        </form>
                </div>
            </div>


            <span>
        <div class=" col-7 mb-3 mt- fs-4 ">
        <div class=" input-group shadow">
          <span class="input-group-text fs-5" id="addon-wrapping">Llamado receptado por: </span>
            <input type="text" class="form-control fs-5" aria-describedby="addon-wrapping">
        </div>
    </div>
    </span>

    <span>
        <div class=" col-5 ">
            <p class="h6 fs-5 mx-2" style="color: grey;"> Datos del solicitante: </p>
        </div>
        <hr>
    </span>


    <div class=" col-6 ">
        <div class=" input-group shadow">
            <span class="input-group-text fs-5" id="addon-wrapping">Nombre y Apellido</span>
            <input type="text" class="form-control fs-5" aria-describedby="addon-wrapping">
        </div>
    </div>

    <div class="col-1 ">
        <input type="text" class="form-control invisible" placeholder="Last name" aria-label=" name">
    </div>

    <div class=" col-4 ">
        <div class=" input-group shadow">
            <span class="input-group-text fs-5" id="addon-wrapping ">Nº Telefono</span>
            <input type="text" class="form-control fs-5" aria-describedby="addon-wrapping">
        </div>
    </div>

    <br>
    <span></span>

    <div class=" col-4 ">
        <div class=" input-group shadow mb-">
            <span class="input-group-text fs-5" id="addon-wrapping">Ciudad</span>
            <input type="text" class="form-control fs-5" aria-describedby="addon-wrapping">
        </div>
    </div>

    <div class="col-1">
        <input type="text" class="form-control invisible" placeholder="Last name" aria-label=" name">
    </div>



    <div class=" col-6 ">
        <div class=" input-group shadow">
            <span class="input-group-text fs-5" id="addon-wrapping">Direccion y Altura</span>
            <input type="text" class="form-control fs-5" aria-describedby="addon-wrapping">
        </div>
    </div>
    <span></span>



    <!-- Fin del codigo general -->
</div>
<br> {% include 'codigos-1.html' %} {% include 'codigos-2.html' %}

<!-- Boton -->
<div class="d-flex justify-content-center ">
    <button class="mx-2 btn btn-danger fs-5 fw-bold mt-4 " onclick="window.print() ">Enviar Datos</button>
</div>
<br>

</div>
</div>
</div>

<script>
    // FUNCIONALIDAD DEL RELOJ
    function mueveReloj() {
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()

        if (minuto < 10) {
            horaImprimible = hora + " : 0" + minuto
        } else {
            horaImprimible = hora + " : " + minuto
        }

        document.form_reloj.reloj.value = horaImprimible

        setTimeout("mueveReloj()", 1000)
    }

    // MOSTRAR CODIGOS
    function parte2() {
        var c10_10 = document.getElementById('cod10-10');
        var c10_11 = document.getElementById('cod10-11');
        var c10_13 = document.getElementById('cod10-13');
        var c10_14 = document.getElementById('cod10-14');
        var c10_17 = document.getElementById('cod10-17');
        var c20_20 = document.getElementById('cod20-20');
        var cod = document.getElementById('codigos');
        var cod_1 = cod.value;

        if (cod_1 == '10-10') {
            c10_10.style.display = 'block';
        } else {
            c10_10.style.display = 'none';
        }

        if (cod_1 == '10-11') {
            c10_11.style.display = 'block';
        } else {
            c10_11.style.display = 'none';
        }

        if (cod_1 == '10-13') {
            c10_13.style.display = 'block';
        } else {
            c10_13.style.display = 'none';
        }

        if (cod_1 == '10-14') {
            c10_14.style.display = 'block';
        } else {
            c10_14.style.display = 'none';
        }
        if (cod_1 == '10-17') {
            c10_17.style.display = 'block';
        } else {
            c10_17.style.display = 'none';
        }

        if (cod_1 == '20-20') {
            c20_20.style.display = 'block';
        } else {
            c20_20.style.display = 'none';
        }

    }

    function sent1(opc) {

        var sent = document.getElementById('sentido1');

        if (opc == 'ruta') {
            sent.style.display = 'block';
        }
        if (opc != 'ruta') {
            sent.style.display = 'none';
        }
    }

    // MOSTRAR MAS INPUTS
    function multiplicarInputs(text) {
        var c_auto = document.getElementById('c_autos');
        var num = text.value
        var div = '';
        for (var i = 0; i < num; i++) {
            var cont = i + 1;
            div += "<br > " + " " + cont + ":" + "<input maxlength='30' style='border:0px' name='inputTextMulti[]' size='10' type='text' />&nbsp;" + "<hr>";
        }

        if (num == "") {
            c_auto.style.display = 'none';
        } else {
            c_auto.style.display = 'block';
        }

        document.getElementById("divMultiInputs").innerHTML = div;
        document.getElementById("divMultiInputs1").innerHTML = div;
    }

    function mostrarOtro() {
        var x = document.getElementById("OTRO");
        if (x.style.display === "none") {
            x.style.display = "block";

        } else {
            x.style.display == "none";
        }
    }
</script>


{% endblock %}