

<nav class="navbar navbar-dark p-1 bg-danger  shadow " >

  <div class="container-fluid ">
  </div>



<button class=" mx-2 fs-5  fw-bold btn btn-secondary shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Codigos 
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Codigos </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <table class=" table table-sm w-75 text-center table-striped shadow table-responsive  fs-8 mx-4 border border-dark border-1">
  <thead>
    <tr>
      <th scope="col">Codigos</th>
      <th scope="col">Referencia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10-10</th>
      <td>Incendio Forestal</td>
    </tr>
    <tr>
      <th scope="row">10-11</th>
      <td>Incendio Baldio</td>
    </tr>
    <tr>
      <th scope="row">10-12</th>
      <td>Incendio de Quincho</td>
    </tr>
    <tr>
      <th scope="row">10-13</th>
      <td>INC (A-B-C-D)</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>A- Vivienda</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>B- Comercio</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>C- Fabrica</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>D- Distribucion</td>
    </tr>
    <tr>
      <th scope="row">10-14</th>
      <td>INC (A-B-C-D)</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>A- Automovil</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>B- Omnibus</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>C- Camion</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>D- Motocicleta</td>   
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>

<span class="navbar-brand mb-1 h1 text-white fs-2 fw-bold " >Focus BV</span>

<form class="d-flex justify-content-end">
      <button class="mx-2 btn btn-secondary fs-5 fw-bold shadow" type="submit">Historial</button>
    </form>

</nav>  
<br>