<!-- Presets para crear nuevos forms -->

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Tipos de Vehiculos </span>
    <div id="divVehiculo"></div>
</div>

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Heridos </span>
    <div id="divHeridos"></div>
</div>

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Observa fuego? </span>
    <div id="divFuego"></div>
</div>

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Tipo de Infraestructura </span>
    <div id="divEstructura"></div>
</div>

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Servicio de Emergencia </span>
    <div id="divServicioE"></div>
</div>

<div class=" input-group  " style="width: 120%;">
    <span class="input-group-text " id="addon-wrapping " >Personas Involucradas </span>
    <div id="divInvolucrados"></div>
</div>

